<html>
<head>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/wow/dist/wow.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bower_components/wow/css/libs/animate.css"/>
</head>
<body>
    <h1> settimeline<strong>.io</strong> </h1>
     
    <section class="wow slideInLeft">Left</section>
  	<section class="wow slideInRight">Right</section>
    
    <script src="/scripts/services.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>
