<html>
<head>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/wow/dist/wow.min.js"></script>

    <script src="/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/bower_components/waypoints/lib/shortcuts/infinite.min.js"></script>


	<script type='text/javascript' src='/bower_components/angularjs/angular.min.js'></script>
	<script type='text/javascript' src='/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>


    <link rel="stylesheet" type="text/css" href="/bower_components/wow/css/libs/animate.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

<div class="page" id="landing-page">
	<div class="buffer-big"></div>
	<div class="search-container">
		<h1 class="wow fadeIn" style="margin-left:1vw">How Has Your Favorite Artist Changed Over Time?</h1>	
		<br>
		<input class="search-bar" id="search-bar" type="text" autocomplete="off" placeholder="search artists...">
	</div>
	<div class="buffer-big"></div>	
</div>

<div class="page">
	<div class="artist-container">
		<div class="buffer-big"></div>
		<div class="artist-title-container">
			<div class="artist-title">Skrillex</div>
			<div class="buffer"></div>
		</div>
		<div class="artist-socialmedia-container"></div>
		<div class="buffer"></div>
	</div>
	<div class="setstory-object">
		<div ng-app='myApp' ng-controller='DemoController'>
<<<<<<< HEAD
	    	<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
	    		<div ng-repeat='concert in sets'> 
	    			<h1>{{concert.location}}</h1>
	    			<div ng-repeat='track in concert.tracks'>
	    				<h2>{{track.name}} by <small>{{track.artist}}</small></h2>
	    			</div>
	    		</div>
	    	</div>
=======
	  <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
	    <div ng-repeat='concert in sets'> 
	    	<h1>{{concert.location}}</h1>
	    <div ng-repeat='track in concert.tracks'>
	    	<h2>{{track.name}} by <small>{{track.artist}}</small></h2>

	    </div>

	    
	  </div>
	</div>
	


>>>>>>> origin/master
		</div>
    </div>	

	
    <script src="/scripts/services.js"></script>
    <script src="/scripts/app.js"></script>

    <script src="/scripts/ng/main.js"></script>
</html>
</html>
