<html>
<head>
<<<<<<< HEAD
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="search-container">
		<h1> Search Artists</h1>	
	</div>
=======
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/wow/dist/wow.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bower_components/wow/css/libs/animate.css"/>
</head>
<body>
    <h1> Hello World </h1>

    
    <script src="/scripts/services.js"></script>
    <script src="/scripts/app.js"></script>
>>>>>>> origin/master
</body>
</html>
