@import "mixins.less";
@import "variablesSS.less";

/* CSS */ 
html {
  max-width: 100vw;
  font-family: 'Nunito', sans-serif;
}
body {
  margin:0; 
  font-family: 'Nunito', sans-serif;
  background-color:#ECECEC;
  max-width: 100vw;
  overflow-x: hidden;
}
p{
  margin: 0;
  padding: 0;
  border: 0;
}
#landing-page {
  background-image: url("../stylesheets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; 
  color: white; 
  .flexContainer(column, vertical);  
}

a {
  color: #00B7FF;
}

.artist-container {
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 100%; 
  .flexContainer(column, vertical); 
  .flex(1); 
  color:white; 
  max-height:40vh;
}

.artist-info-container {
  .flexContainer(); 
}

.artist-general-info {
  text-align:right; 
  .flex(); 
  margin-right:1vw; 
}

.artist-image-row {
  .flex(); 
  .flexContainer(); 
  padding: 0vh 3vw; 
}

.artist-lineup-container {
  .flex(0);
  > .artist-lineup {
    height: 27.5vh;
    width: 27.5vh;
    border-radius: 10000px; 
    background-color: rgba(46,204,116,1);
    border: 3px solid #00b16a;
  }
}

.artist-lineup-text {
  .flex(); 
  font-size:2em; 
}

.artist-text-row {
  .flexContainer(); 
  .flex(); 
  text-align:center; 
  color:black;
  padding: 0vh 3vw; 
}

.artist-title-container {
 .flexContainer();   
}

.artist-title {
  .flex(0); 
  background-color: #2ecc74;
  text-align: left;
  font-size: 3em;
  padding: 1vh 1vw;
  font-weight: 900;
}

.autocomplete ul {
  padding:0; 
  color:black; 
}

.buffer {
    .flex()!important;
}
.buffer-big {
    .flex(3);
}
.buffer-bigger {
    .flex(6);
}

.concert-title {
  background-color: #2ecc74;
  margin-bottom: 0;
  margin-top: 0;
  padding: 3vh 0vw;
  font-size:2em; 
  padding-right:1vw; 
}

.page {
    height:100vh;
    width:100vw;
    .flexContainer(column, vertical); 
}
.half-page {
    height:50vh;
    width:100vw;
    .flexContainer(column, vertical); 
}

.search-container {
	background-color: rgba(0,0,0,.5);
	border-radius: 10px; 
	.flexContainer(column, vertical);
	.flex(); 
	background-color: rgba(46,204,116,0.8);
  border: 3px solid #00b16a;
  margin: 0vh 10vw; 
}
.search-bar {
	font-size:4vh; 
	margin: 0vh 1vw; 
}
.setstory-object {
  background-color: #ECECEC; 
  .flexContainer(column, vertical); 
  .flex(1);
  position:absolute;   
}



.artist-socialmedia-container {
  text-align: center;
  background: black;
  top: 0;
  position: absolute;
  /* left: auto; */
  /* right: auto; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -100;
  opacity: 0.6;
  min-height: 50vh;
  max-height: 50vhx;
  overflow: hidden;
}

.circle-text {
width: 50%;
  max-width: 100px;
  float: left;

}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -1.3em;
  text-align: center;
  color: white;

}

#cd-timeline {
    position: relative;
    padding: 0em 0;
    margin-top: 2.1em;
    margin-bottom: 2em;
    padding-left: 9em;
    background-color:#ECECEC;
    .flex();
}
#cd-timeline::before {
  content: '';
  
  position: absolute;
  top: -5vh;
  left: 12em;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.row-track{
      /*margin-left: 8em;*/ /*needs to go*/
      line-height: 1em;
}

.tracklist-container {
  max-height:25vh; 
  overflow-y:scroll;  
  .flex(); 
  overflow-x:hidden; 
  border: solid 1px;
  text-align: center;
}


h3.genre-1 { font-size:0.4em;}
h3.genre-2 { font-size:0.6em;}
h3.genre-3 { font-size:0.8em;}
h3.genre-4 { font-size:1.5em;}
h3.genre-5 { font-size:1.6em;}
h3.genre-6 { font-size:1.7em;}
h3.genre-7 { font-size:1.77em;}
h3.genre-8 { font-size:1.8em;}
h3.genre-9 { font-size:1.85em;}
h3.genre-10 { font-size:1.9em;}
h3.genre-11 { font-size:1.92em;}
h3.genre-12 { font-size:1.95em;}
h3.genre-13 { font-size:2em;}

.circle-graph {
  .flex(); 
}

h3 {
  line-height: 0;
}

.insights{
    display: inline-table;
}
.insight-box{
  display: table-cell;
  min-height: 175px;
  max-width: 175px;
  vertical-align: center;
  text-align: center;
  font-size: 1em;
  padding: 1vh 0vw 1vh 1vw;
}

.genres-viz {
  .flexContainer(); 
  padding-left: 8vw;
}


.genres-viz svg:first {
    display:none;
}

.lineup-container {
  .flex(0); 
  .flexContainer(column, vertical); 
  background-color: rgba(228, 241, 254,.8);
}

#lineup-page {
  background-image: url("../stylesheets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.lineup-title {
  .flex(0); 
  font-size:2.5em;  
  color:black; 
  padding: 1vh 3vw 2vh 3vw;
  text-align: left; 
  background-color: rgba(228, 241, 254,.8);
  text-align: center;
}
.summary-container {
  .flex(); 
  background-color:white; 
  .flexContainer(column, vertical); 
}
.summary-data-body {
  .flex(); 
  .flexContainer(); 
  padding: 1vh 3vw;
}
.summary-title {
  .flex(0);
  text-align:left; 
  color:black; 
  font-size:3em; 
  text-decoration:underline;
  padding: 0vh 3vw;  
}

.genres-vix {
  .flex();
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
