	<div class="page">
	<div class="artist-container">
		<div class="buffer-big"></div>
		<a ng-click="back()" href=""><h1> Back </h1></a>
		<div class="artist-title-container">
			<div class="artist-title">{{choice}}</div>
			 <h1>{{sets.length}} concerts</h1>  

			<div class="buffer"></div>
		</div>
		<div class="artist-socialmedia-container"></div>
		<div class="buffer"></div>
	</div>
	<div class="setstory-object wow fadeIn">
		<div>
	    	<div>
	    		
	    		<div ng-repeat='concert in sets'> 
	    			<h1>{{concert.location.city}}, {{concert.location.country}} | {{concert.eventDate}}</h1>
	    			<h4> {{concert.minutes}} minutes  | {{concert.tracks.length}} tracks  | {{concert.bmp}} BPM  || {{concert.media.length}} media objects</h4>
	    			<h3 ng-show="concert.tracks.length === 0"> No Sets for this concert :-(</h3>
	    			<div ng-repeat='mediaGroup in concert.media'>
	    				<div ng-repeate='m in mediaGroup'>
	    					<div ng-hide="isVideo(m)">
		    					<img ng-src="{{m.url}}">
		    				</div>
		    				<div ng-show="isVideo(m)">
		    					<video ng-src="{{m.url}}">
		    				</div>
	    				</div>
	    			</div>
	    			<div ng-repeat='track in concert.tracks'>

	    				<h2>{{track.name}} 
	    					<span ng-show="track.originalArtist">by <small>{{track.originalArtist}}</small></span>
	    				</h2>
	    			</div>
	    		</div>
	    	</div>
	</div>
	</div>
</div>
