<div class="page">
	<div class="artist-container">
		<div class="buffer-big"></div>
		<a ng-click="back()" href=""><h1> Back </h1></a>
		<div class="artist-title-container">
			<div class="artist-title">{{choice}}</div>
			<div class="buffer"></div>
		</div>
		<div class="artist-socialmedia-container"></div>
		<div class="buffer"></div>
	</div>
	<div class="setstory-object">
		<div>
	    	<div>
	    		
	    		<div ng-repeat='concert in sets'> 
	    			<h1>{{concert.location.city}} | {{concert.eventDate}}</h1>
	    			<h3 ng-show="concert.tracks.length === 0"> No Sets for this concert :-(</h3>
	    			<div ng-repeat='track in concert.tracks'>
	    				<h2>{{track.name}} 
	    					<span ng-show="track.originalArtist">by <small>{{track.originalArtist}}</small></span>
	    				</h2>
	    			</div>
	    		</div>
	    	</div>
	</div>
	</div>
</div>
