<div class="page" id="lineup-page">
		<div class="summary-container">
			<div class="summary-title">
				Ultra Music Festival 2015 
			</div>
					
			<div class="summary-data-body">
				<div class="data-container">
					<div class="data-title">Estimated Tickets Sold</div>
					<div id="coachellaChart1"></div>
					<div class="data-title">Estimated Attendance</div>
					<div id="coachellaChart2"></div>
				</div>
				<div class="buffer"></div>
				<div class="data-container">percentage of tickets expected to sell(circile graph)</div>
				<div class="buffer"></div>
				<div class="data-container">percentage of tickets expected to sell(circile graph)</div>
			</div>

		</div>

		<div class="lineup-title wow rubberBand animated centered">Lineup</div>

		<div class="lineup-container">

			<div class="artist-image-row">
				<div class="artist-lineup-container wow rollIn animated">
					<div class="artist-lineup"></div>
				</div>
				<div class="buffer"></div>
				<div class="artist-lineup-container wow rollIn animated">
					<div class="artist-lineup"></div>
				</div>
				<div class="buffer"></div>
				<div class="artist-lineup-container wow rollIn animated">
					<div class="artist-lineup"></div>
				</div>
				<div class="buffer"></div>
				<div class="artist-lineup-container wow rollIn animated">
					<div class="artist-lineup"></div>
				</div>
			</div>

			<div class="artist-text-row">
				<div class="artist-lineup-text wow bounce animated">
					<a href="/#/artists/skrillex">Skrillex</a></div>
				<div class="buffer"></div>
				<div class="artist-lineup-text wow bounce animated">Artist</div>
				<div class="buffer"></div>
				<div class="artist-lineup-text wow bounce animated">Artist</div>
				<div class="buffer"></div>
				<div class="artist-lineup-text wow bounce animated">Artist</div>
			</div>


		</div>

	</div>


