<div class="page" id="lineup-page">
		<div class="white wow fadeIn ">		
			<div class="summary-title">
					{{detail.event}}
				</div>
			<div class="summary-data-body">
				<div class="data-container">
					<div class="data-row">
						<div class="data-title">Attendance</div>
						<d3percentage dataset="90"> </d3percentage>
					</div>
					<div class="data-row">
						<div class="data-title">Sells</div>
						<d3percentage dataset="70"> </d3percentage>
					</div>
				</div>
				<div class="data-container">
					<div class="buffer"></div>
					<div class="data-container">
						<div class="data-title">Sell Progress</div>
						<d3progress> </d3progress>
					</div>
					<div class="buffer"></div>
				
			</div>

		</div>

		

		<div class="lineup-container">
			<div class="lineup-title wow rubberBand animated centered">Lineup</div>
			<div class="artist-row" ng-repeat="artist in detail.lineup">
				<div class="artist-lineup-container wow rollIn animated">
					<div ng-click="gotoArtist(artist)" class="hand artist-lineup"><img src="" ng-src="{{artist.artistimageURL}}"/>
					</div>
					<div class="centered">
						<a href="" ng-click="gotoArtist(artist)">{{artist.artist | limitTo:20}}</a>
					</div>
				</div>
				<div class="buffer"></div>
			</div>
				
			

			


		</div>

	</div>


